<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/usercatalog.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>USER CATALOG</title>
</head>
<body>
    
    <nav>
        <div class="menu-icon">
          <span class="fas fa-bars"></span>
        </div>
        <a class="logo" href="/">FAKENATIC</a>   
        <div class="nav-items">
        <li><a class="nav-link" href="/lets_create_it"><b>Let's Create it</b></a></li>
        <li><a class="nav-link" href="/how_it_works"><b>How it work's</b></a></li>
        <li><a class="nav-link" href="/plans"><b>Plans</b></a></li>
        <li><a class="nav-link" href="/logout" ><b>Logout</b></a></li>
        </div>
        <div class="cancel-icon">
          <span class="fas fa-times"></span>
        </div>
      </nav>
      <script>
        const menuBtn = document.querySelector(".menu-icon span");
        const cancelBtn = document.querySelector(".cancel-icon");
        const items = document.querySelector(".nav-items");
        menuBtn.onclick = ()=>{
          items.classList.add("active");
          menuBtn.classList.add("hide");
          cancelBtn.classList.add("show");
        }
        cancelBtn.onclick = ()=>{
          items.classList.remove("active");
          menuBtn.classList.remove("hide");
          cancelBtn.classList.remove("show");
        }
      </script>

<section>

  <div class="container">
    <h1 class="heading">VIDEO GALLERY</h1>
    <div class="main-video" style="width:60vw;">
        <video src={{nlinks.0}} autoplay muted controls></video>
        <i class='bx bx-x close'></i>
    </div>

  
    
    {% for i,o,k in packed %}
    <div class="videos">
      <video src="{{i}}"></video>
        <p> Name: {{k}}
        <br>Date:{{o.1}}
        <br>Created by:{{o.2}}
        
      </p>        
  
    </div>
    {% endfor %}


    
  
  </div>
</section>

<script>
  const section = document.querySelector("section"),
  mainVideo = document.querySelector(".main-video video"),
   videos = document.querySelectorAll(".videos"),
   close = document.querySelector(".close");

   for (var i = 0; i < videos.length; i++) {
     videos[i].addEventListener("click", (e)=>{
       const target = e.target;
       section.classList.add("active");
       target.classList.add("active");
       let src = document.querySelector(".videos.active video").src;
       mainVideo.src = src;

       close.addEventListener("click", ()=>{
         section.classList.remove("active");
         target.classList.remove("active");
         mainVideo.src = "";
       });
     });
   };
</script>











<footer class="footer">
  <div class="footer-col">
    <h4>follow us</h4>
    <div class="social-links">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
  </div>
</div>
<div style="width:100%;text-align:center;">
<h4 style="text-transform: capitalize;font-weight: 600;color: #CCC;" >All Rights Reserved, Fakenatic <script>document.write(new Date().getFullYear())</script></h4>
</div>
</footer>
</body>
</html>