@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* *{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
    background: white;
    height: 100vh;
  
} */
body {
  margin: 0;
 padding: 0;
 background: white;
 height: 100vh;
}

*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading {
  text-align: center;
  padding-top: 100px;
  font-size: 30px;
  font-family: sans-serif;
}
/*nav bar*/

nav{
  background: #24262b;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  
}
nav .logo{
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  margin-right: 630px;
  margin-left: 22px;
  font-family: 'Montserrat', sans-serif;

}
nav .nav-items{
  display: flex;
  flex: 1;
  float: right;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
nav .nav-items li a:hover{
  color: #e91e63;
  border-bottom: solid #e91e63 2px ;
}
nav .menu-icon,
nav .cancel-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon{
  display: none;
}

.logo{
  padding-left:50px;
}
@media (max-width: 1345px)
{
nav .logo{
  margin-right: 580px;
}
}
@media (max-width: 1300px)
{
nav .logo{
  margin-right: 500px;
}
}
@media (max-width: 1250px){
  nav .nav-items li a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
  }
  
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 1;
    margin-left: auto;
    margin-right: auto;  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -130%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav .menu-icon{
    display: block;
  }
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}

/*image*/
.images{
    width:650px;
    height:650px;
}
.main-content{
  text-align: center;
  margin-bottom: 50px;
}
@media(max-width:650px){
 .images{
   width: 500px;
   height:500px;
 } 
}
@media(max-width:470px){
  .images{
    width: 400px;
    height:400px;
  } 
 }
 @media(max-width:320px){
  .images{
    width: 330px;
    height:330px;
  } 
 }
/*footer*/
.footer{
	background-color: #24262b;
    padding: 30px 50px;
    margin-top: 60px;
  }
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 16px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
	font-family: 'Poppins', sans-serif;

}
.footer-col h4::before{
	content: '';
	position: absolute;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
	font-family: 'Poppins', sans-serif;

}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
